/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26/10/2014, 18:31:23
    Author     : DennerFernandes
*/

html, body, #wrap {
  height: 100%;
}

body > #wrap {
  height: auto; 
  min-height: 100%;
}

#main {
  //overflow:auto;
  padding-bottom: 70px;
}  /* deve ter a mesma altura do rodapé */

#footer {
  position: relative;
  margin-top: -70px; /* valor negativo da altura do rodapé */
  height: 70px;
  clear:both;
} 

/*Opera Fix*/
body:before {
  content:"";
  height:100%;
  float:left;
  width:0;
  margin-top:-32767px;
}