@import 'normalize.min.less';
@import 'boilerplate.less';
@import 'bootstrap.less';
@import 'bootstrap-theme.less';
@import 'footer.less';

.font(@f) when (@f = h){ font-family: helvetica_lt_stdlight, Arial, Times; }

.peso(@p) when (@p = n){font-weight: normal; }
.peso(@p) when (@p = l){font-weight: lighter; }
.peso(@p) when (@p = b){font-weight: bold; }

.tam(@t){font-size: @t;}